<% content_for :page_title, formatted_title('privacy') %>

<div>

<h3>Data Privacy</h3>
<p>It is very simple:</p>
<p>We collect only essential data needed for our operations. We do not sell or share this data with others.</p>
<p>That's all.</p>

</div>
